[2014-07-03 22:31] vjovanov opened #2 "Order of fields must not affect the internal field layout."
scala> val people = R("age" -> 1, "name" -> "Michael") :: R("name" -> "Ahir", "age" -> 23) :: Nil
people: List[records.R{def name: String; def age: Int}] = List($anon$1@2f15e1da, $anon$2@459ec75c)

scala> people.head.name
java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.String
  ... 43 elided

[2014-07-03 22:36] vjovanov opened #3 "Strings are used as field types"
@vjovanov was sloppy and unhygienically used strings for field types.

[2014-07-03 22:37] vjovanov opened #4 "Records must not have fields with duplicate names."

[2014-07-03 22:38] vjovanov opened #5 "Records should be explicitly and implicitly converted to case classes."

[2014-07-03 22:39] vjovanov opened #6 "Records should work with Scala versions from 2.10.3 to 2.12.x."

[2014-07-04 07:47] gzm0 opened #8 "Change internal data representation to function"
Follow up of #2

[2014-07-04 08:03] #2 closed, assigned to gzm0

[2014-07-04 08:03] #3 closed, assigned to gzm0

[2014-07-04 08:03] #4 closed, assigned to gzm0

[2014-07-04 09:00] #8 closed, assigned to gzm0

[2014-07-05 16:54] #6 closed, assigned to nobody

[2014-07-06 21:16] #5 closed, assigned to gzm0

[2014-07-06 22:13] vjovanov opened #12 "2.10.4 tests has reflective warnings."

[2014-07-06 22:20] vjovanov opened #13 "Fields should be able to have blank spaces in names."
This works for regular structural types but does not work for R types.
Structural types:

[code]

Record Types:

[code]

[2014-07-07 17:27] amirsh opened #14 "Have appropriate organization name for publishing"

[2014-07-07 18:27] amirsh opened #15 "At some point of time, scala compiler complains about importing records.R"

[2014-07-07 19:20] #15 closed, assigned to vjovanov

[2014-07-07 19:24] #12 closed, assigned to nobody

[2014-07-08 09:02] #14 closed, assigned to nobody

[2014-07-09 16:11] vjovanov opened #19 "2.10.x does not support implicit conversions of records into case classes."

[2014-07-10 17:07] #13 closed, assigned to nobody

[2014-07-11 08:28] vjovanov opened #24 "Test how records work out in Eclipse."

[2014-07-11 08:43] vjovanov opened #25 "Test how records work in IntelliJ"

[2014-07-11 11:57] vjovanov opened #28 "When I import records.RecordConversions._ the to method starts reporting a type error."

[2014-07-11 12:56] vjovanov opened #30 "Complete the README document with use cases and an intro."

[2014-07-11 12:56] vjovanov opened #31 "Test with common patterns (e.g., collection operations) and weird use cases."

[2014-07-11 12:57] vjovanov opened #32 "Introduce the `project` operation."

[2014-07-11 13:08] vjovanov opened #33 "Make a convertRecord method in the package object."

[2014-07-11 13:11] vjovanov opened #34 "Benchmark performance of record accesses."

[2014-07-11 13:18] vjovanov opened #35 "Make a compiler plugin to hide our rubbish :)"

[2014-07-11 13:26] vjovanov opened #36 "Make naming and release decisions."

[2014-07-11 15:18] #24 closed, assigned to vjovanov

[2014-07-12 21:24] vjovanov opened #39 "Remove unnecessary artefacts from the public API."
Error checking macros are a good candidate.

[2014-07-14 05:18] #25 closed, assigned to vjovanov

[2014-07-14 09:06] vjovanov opened #43 "Records should support a finite level of nesting"

[2014-07-14 10:40] vjovanov opened #44 "Make the documentation on the package object"

[2014-07-14 11:27] #39 closed, assigned to gzm0

[2014-07-14 13:04] #35 closed, assigned to gzm0

[2014-07-15 09:37] #33 closed, assigned to vjovanov

[2014-07-15 15:54] #19 closed, assigned to vjovanov

[2014-07-15 15:54] #28 closed, assigned to vjovanov

[2014-07-15 15:57] vjovanov opened #51 "We should have a override `def toString(): String` generated for records."

[2014-07-16 09:24] #51 closed, assigned to gzm0

[2014-07-16 11:50] hubertp opened #54 "Conversion should allow for default arguments"
This is currently not allowed:

[code]

[2014-07-16 12:08] hubertp opened #55 "Provide support for custom conversions"
Currently we only support case classes.

[2014-07-16 12:19] hubertp opened #56 "Custom implicits taking records lead to runtime errors"
[code]

x.myObject will not expand a macro because macro annotation is lost. I guess for now it counts as a known limitation.
Notice that reflective call warnings don't give you much in this case, I think.

[2014-07-16 13:49] vjovanov opened #58 "Case class conversions should support nested records"

[2014-07-16 14:12] vjovanov opened #59 "Implement equals and hashCode for records."

[2014-07-17 06:53] #43 closed, assigned to hubertp

[2014-07-17 07:58] gzm0 opened #61 "Change hashing to use murmur hash3"

[2014-07-17 08:41] #59 closed, assigned to gzm0

[2014-07-17 08:49] gzm0 opened #62 "Document methods on `Rec`"

[2014-07-17 09:27] vjovanov opened #64 "What happens when you debug records in Eclipse?"

[2014-07-17 13:21] vjovanov opened #66 "To can not be called directly on the constructed record."
it should "allow conversions directly on a constructed type" in {
        case class FieldHolder(f: Int)
        Rec("f" -> 1).to[FieldHolder].f should be(1)
    }

Fails to find the `to` extension method.

[2014-07-17 14:15] hubertp opened #67 "Calling `to` (without type arguments) on a record crashes macro"
[code]

gives

[code]

[2014-07-17 16:06] #62 closed, assigned to gzm0

[2014-07-17 19:40] vjovanov opened #72 "Implicit macros should discard error messages in the IDE."

[2014-07-18 06:58] #31 closed, assigned to gzm0

[2014-07-18 07:05] #67 closed, assigned to hubertp

[2014-07-18 10:41] #58 closed, assigned to vjovanov

[2014-07-18 14:06] hubertp opened #75 "Fix formatting for error messages"
Horribly long one-liners.

[2014-07-18 20:12] #44 closed, assigned to gzm0

[2014-07-21 07:16] #30 closed, assigned to vjovanov

[2014-07-21 10:46] #36 closed, assigned to gzm0

[2014-07-21 11:15] gzm0 opened #79 "Use applyDynamicNamed to have named param syntax"
Allow this:

[code]

[2014-07-21 13:19] #61 closed, assigned to gzm0

[2014-07-23 09:20] gzm0 opened #81 "Improve speed of field lookups"

[2014-07-23 14:58] #81 closed, assigned to gzm0

[2014-07-24 18:33] hubertp opened #85 "Broken conversion to generic case classes with explicit type args"
This won't work:

[code]

[2014-07-24 21:28] #85 closed, assigned to nobody

[2014-07-24 22:07] vjovanov opened #87 "Explore <synthetic> vs $ in method names on Rec"
We should check what happens in:
- IDEs (Eclipse, IntelliJ)
- ScalaDoc
- REPL

[2014-07-24 22:20] vjovanov opened #88 "Private case class constructors do not work with record conversions"
[code]

[2014-07-26 01:28] gzm0 opened #91 "Add 2.11.2 to travis build"
As separate ticket, since I merged #90 too fast.

[2014-07-26 21:10] #34 closed, assigned to vjovanov

[2014-07-26 21:13] vjovanov opened #93 "Add meta operations about fields"
What we need for sure is:
 +`size`/`length` - that returns the number of fields in the record

Possibly:
- `def fields: Seq[String]` - that returns all the field names

[2014-08-08 09:29] #91 closed, assigned to nobody

[2014-08-11 08:54] gzm0 opened #95 "Allow to write the type of a Record"
Based on @xeno-by's beautiful hackery, I propose the following syntaxes for record types:

[code]

The implementation is as follows:

[code]

WDYT?

[2014-08-11 09:43] #56 closed, assigned to nobody

[2014-08-13 13:03] gzm0 opened #96 "Allow symbols for literal record construction"
This should work:

[code]

[2014-08-13 15:28] #79 closed, assigned to gzm0

[2014-08-18 07:48] vjovanov opened #97 "Introduce an operation to add fields to records."

[2014-08-18 07:49] vjovanov opened #98 "Add the `copy` operation that mimics copy on case classes."

[2014-09-03 09:35] #64 closed, assigned to vjovanov

[2014-09-11 19:45] heathermiller opened #100 "Array-typed fields aren't supported"
Seems I can't make `Rec` with an array as the value of a field. I get a "No ClassTag available" error when trying to select it:
(Discovered by adding support for arrays in TypedSQL)

[code]

[2014-09-11 21:57] heathermiller opened #101 "Collection-typed fields aren't supported"
Just like #100, I can't select a collection-typed field of a `Rec`. This time, I get a different, incorrect, type error:

[code]

[2014-09-12 18:49] #100 closed, assigned to nobody

[2014-09-16 02:57] #101 closed, assigned to nobody

[2014-09-17 07:37] #88 closed, assigned to vjovanov

[2014-10-30 11:59] vjovanov opened #104 "Introduce a `merge` operation for joining two records."
We have the following possibilities:
1. Expose disjoint fields in the joined record and leave common fields in nested records:

[code]

   If somebody tries to access `r.y` we can generate a compile time error message that says look in `r2` `r3`.
1. Just leave two nested records (Slick does something similar):

[code]

   Here we could also have an error message if somebody misses a field.
1. Leav

[2015-01-30 14:34] julienrf opened #108 "Support defining a Record by using named parameters"
I guess you already considered this idea but I’d like to know the answer: do you think it is worth supporting a syntax using named parameters to build records?

E.g. like the following:

[code]

[2015-01-30 14:35] julienrf commented on #108
Oops, I just see in your code that you do support this.

[2015-01-30 14:35] #108 closed

[2015-02-11 04:34] cvogt commented on #104
Here is what I am imagining for cvogt/records: https://github.com/cvogt/records/issues/2

[2015-02-11 05:11] cvogt commented on #98
cvogt/records supports the assignment operator returning a new copy.
`val r2 = r.name = "Miguel"`
https://github.com/cvogt/records/blob/0.1/src/test/scala/RecordTest.scala#L16

not exactly `.copy`. I am trying to avoid methods on records, because they block field names. What is your take on that?

[2015-02-11 06:06] cvogt commented on #97
Is there anything more than union of two records needed to add fields to one?

[2015-02-11 06:08] cvogt commented on #96
How about this instead: `Rec(name = "Hanna")`? This would give record construction the same syntax like case class copy methods.

[2015-02-11 06:12] cvogt commented on #96
There is already `Record(name="Hanna")` and `Record("name" -> "Hanna")`. Any reason to have a third syntax?

[2015-02-11 06:20] cvogt commented on #95
FYI, here is how it currently looks like in cvogt/records

[code]

https://github.com/cvogt/records/blob/0.1/src/test/scala/RecordTest.scala#L86

[2015-02-11 06:23] cvogt commented on #93
How do you handle conflicts of these method names with field names?

[2015-02-11 09:55] vjovanov commented on #93
We have an (implicit class)[https://github.com/scala-records/scala-records/blob/master/core/src/main/scala/records/Rec.scala#L41] to do that.
In case of conflicts you can always write the implicit yourself.

[2015-02-11 09:59] vjovanov commented on #96
Good point, it is still nicer than the string syntax. Maybe we should remove the string syntax altogether and just leave the symbols.

[2015-02-11 10:01] vjovanov commented on #97
Not really. The biggest problem here is how to make it configurable for different back-ends. The front-end is not complicated.

[2015-02-11 10:02] vjovanov commented on #98
We were sticking to what you have with case classes. Copy is idiomatic to Scala so we sticked to it.

[2015-02-11 15:28] cvogt commented on #96
The tuple constructor syntax allows record with non identifier keys. You have test cases for that. I won't add that to my implementation, but maybe it is a feature you want to support.

On February 11, 2015 4:59:37 AM EST, Vojin Jovanovic <notifications@github.com> wrote:

[2015-02-11 15:39] vjovanov commented on #96
Well record field names must be statically known for records to work. I do not see the usecase for records whose keys should be modified at run-time. How would you access those fields in a meaningful (type-safe) way.

[2015-02-11 22:04] cvogt commented on #96
I wasn't talking about runtime, I think I saw tests like Rec( 5 -> "foo" ). If you only allow Rec( ...= "foo") you couldn't create 5 -> anymore. Which is fine by me. Just pointing out that change to make sure you are aware of it.

[2015-02-11 22:35] vjovanov commented on #96
We allow only string literals, and in case of 5 you would have to do Rec(`5`=5) which is OK I think.

[2015-02-12 00:30] cvogt commented on #96
I don't think Rec(5=5) passes the scala parser. the lhs needs to be an identifier.
[code]

[2015-02-12 10:34] vjovanov commented on #96
Ah markdown swallowed it: \`5\` does pass the parser.

[2015-02-12 14:02] cvogt commented on #96
Ah interesting :).

[2015-02-12 16:58] cvogt commented on #97
What do you mean by configurable for different backends?

[2015-02-12 16:59] cvogt commented on #93
yeah, that's one way to do it

[2015-02-12 17:23] vjovanov commented on #97
Well for Spark we directly map values to existing records. For regular records we use a HashMap.

[2015-03-12 00:02] vjovanov opened #110 "Encoding issue with -"
This should work:
[code]

[2015-03-12 15:12] danielwegener commented on #110
It does not seem to be restricted to dashes `-`, rather a general problem with special characters:
[code]

[2015-03-17 04:32] gzm0 opened #111 "Change the type of records"
Currently, we use vampire-structural types to represent records. This is an issue notably since it requires hacks like #95 to write the type of a record.

After discussions with @cvogt, we came to the conclusion, that expressing record types as follows is probably better:

[code]

access to the fields of the records will be provided by implicit conversion:

[code]

which materializes the structura

[2015-03-17 04:32] gzm0 commented on #111
@vjovanov @hubertp @heathermiller opinions?

[2015-03-17 05:19] cvogt commented on #111
Also I my macros successfully implement this. Some insights from @gzm0 how you guys handle some internals, e.g. generate an anonymous class with macro members, allowed me to further refine it.

[2015-03-17 05:35] cvogt opened #112 "Merge cvogt/compossible's Records and scala-records"
After dicussing with @gzm0  extensively over the weekend, we realized that my macros in compossible and scala-records actually are still quite complimentary in their features rather than competitive. We should strongly consider joining forces i.e. merging I think. This requires agreement on https://github.com/scala-records/scala-records/issues/111 first. Apart from that we seem to have made the sa

[2015-03-17 05:40] gzm0 commented on #111
As soon as I have green light on this, I will proceed in migrating to this. @cvogt I guess you agree that we should do this change first, before we merge in your stuff.

[2015-03-17 05:42] cvogt commented on #112
First design decision: I tried to stay blackbox whenever possibly or write whitebox macros that provide enough type info in their signature to suffice for code completion in IntelliJ. In case the best whitebox Syntax is significantly better than the best blackbox syntax, I want to offer both versions. Examples:

*Create records:*
Record(name="Chris", age=99) // whitebox
Record(new{def name="Chris"

[2015-03-17 05:42] cvogt commented on #111
@gzm0 I agree, we first need to converge on this matter. Only after that merging makes sense.

[2015-03-17 12:43] vjovanov commented on #111
Interesting, if we can make it work it would be quite a nice solution for recrods in Scala. I have a bunch of questions:
  - Can we make this work without reflective accesses? How does the `Rep[T] => T` conversion get around reflective checks if we use black box macros only?
  - Does the auto-completion work in the REPL? Can we make it work?

I agree with this path, but only if it matches all the

[2015-03-17 12:47] vjovanov commented on #112
We converged on `Rec` after many trials and lengthy discussions. If you really do not like it we can ask the crowd to vote for this at scala-days. I can make a form in google docs :)

[2015-03-17 12:49] vjovanov commented on #112
Overall, I support this effort. Scala Records are already packed with tests and very stable. If we can make the new approach satisfy all the requirements I am all in on joining forces.

[2015-03-17 15:00] cvogt commented on #112
Ok, then let's focus on the semantic parts first and assuming this all works out fine, we can re-open the discussion on that name.

[2015-03-17 15:12] cvogt commented on #111
@vjovanov Mine isn't a blackbox macro right now, but a whitebox macro with a good enough signature for code-completion (IntelliJ may think there is reflective access, not sure, but there certainly isn't). It generates an anonymous class with macro members, so no reflective access.

Auto-completion does not work in the Scala REPL, because it does not see implicit conversions. Auto-completion works

[2015-03-17 17:15] vjovanov commented on #111
@gzm0 which REPL does Spark use?

[2015-03-17 17:56] vjovanov commented on #111
@cvogt Can you define other implicits over `Rec[...]`? I think macro implicits do not allow existence of any other implicits...

Does auto-completion work with implicit materializers that I used in LMS?

[2015-03-17 18:02] gzm0 commented on #111
Spark uses a hacked version of the Scala REPL.

[2015-03-17 18:11] vjovanov commented on #111
Hm, maybe we could improve the REPL to pick up implicit conversions. I guess we can port the code from Ammonite. Not a blocker I would say.

[2015-03-18 20:18] gzm0 commented on #96
@vjovanov I propose we dismiss this. There is really no need for another syntax.

[2015-03-18 22:04] #66 closed

[2015-03-18 22:04] #95 closed

[2015-03-18 22:04] #111 closed

[2015-03-18 22:08] vjovanov commented on #96
No need since we have the equals syntax. Close.

[2015-03-18 22:08] #96 closed

[2015-03-18 22:09] cvogt commented on #96
+1

[2015-06-16 16:31] hrj opened #115 "Release for Scala.js 0.6"

[2015-06-16 18:25] gzm0 commented on #115
Scala-records are released for Scala.js since version 0.2 (current version is 0.3).

[2015-06-16 18:40] hrj commented on #115
I see the problem now. I am using scala-js version 0.6.x while the published version seems to be targeted for scala-js 0.5.x. Hence, sbt couldn't resolve the dependency.

Can you please publish for the latest scala-js version too?

[2015-06-16 19:54] gzm0 commented on #115
Oh, indeed. Sorry about that. We'll have to publish a new version I assume.

[2015-06-17 16:10] vjovanov commented on #115
Fixed in version 0.4.

[2015-06-17 16:10] #115 closed

[2015-06-17 17:41] gzm0 commented on #115
@vjovanov don't forget to release for 2.10.

[2015-06-17 18:23] vjovanov commented on #115
Thx for reminding. I will do this tomorrow and include the release instructions.

[2015-07-09 16:13] cvogt opened #118 "remove Rec("a" -> 1) syntax in favor of Rec(a = 1)"
@vjovanov @gzm0 what do you think about removing this syntax? Both are supported right now. The second one highlights the type-safety and looks like case class constructors. And no need to have 2 apis.

P.S.: Slowly finding time again for records. Investigating the differences between cvogt/compossible and scala-records as preparation for a future merge.

[2015-07-09 20:36] gzm0 commented on #118
I think this syntax can be useful if there are "weird" names involved. I prefer to write:

[code]

than

[code]

Also, `applyDynamic` does not always work fully. This allows for a fallback when it fails (we maybe even should have the equivalent `apply` syntax btw.).

[2015-07-10 13:34] cvogt commented on #118
Interesting.

If normally `Rec(foo = 1)` is encouraged, then
    Rec(`=` = 1)
still highlights the type-safety and for a case class you would also write
    Constr(`=` = 1)
I think small things like this and not diverging from following how existing syntax does it, go a long way in communicating things about behavior at first sight.

When does applyDynamicNamed fail?

[2015-07-14 00:00] gzm0 commented on #118
I don't have a particular case at hand, but `Dynamic` in general does not have the reputation to be the stablest part of scalac... One of the concerns is also how it interacts with name mangling...

But it is true that the syntax is probably redundant (and "weird" names should not be used in the first place)...

@vjovanov why did we introduce this in the first place?

[2015-07-14 00:02] gzm0 commented on #118
Related to #110

[2015-07-14 00:09] gzm0 commented on #118
Hmm... that might **be** your use case...

[2015-07-14 00:17] cvogt commented on #110
Is this maybe just a bug, because the name is decoded?
[code]

[2015-07-14 00:18] cvogt commented on #118
#110 looks like a fixable bug. The method names/map keys need to be en/decoded scalac names. Doesn't seem like we need the `"key" -> value" syntax for that.

[2015-07-14 17:58] gzm0 commented on #118
You are probably right. @vjovanov what do you think of getting rid of the string syntax either?

@cvogt could you please go through our tests and see if there is no case that we really can't do with backticks? (for example, empty fields)

We **must** assume that field names are arbitrary (if coming from another backend). So even if we find a single case where backtick doesn't work, we must retain

[2015-07-14 18:13] cvogt commented on #118
@gzm0 ok, I will :)

[2015-07-14 18:39] cvogt opened #119 "Open question: How to handle field name clashes when merging records"
so one feature I have in compossible is merging of records

[code]

this becomes a problem when field names overlap

[code]

which is a valid Scala type. Preventing these cases when implementing `++` as a macro isn't really viable, if this use case should be supported:

[code]

because here `++` can't know if T and S have name clashes. We can't statically check during lookup either:

[code]

we ca

[2015-07-14 19:35] gzm0 commented on #119
Please use the already existing ticket for discussions (#104). I will continue there.

[2015-07-14 19:35] #119 closed

[2015-07-14 19:36] gzm0 commented on #104
Crossposting @cvogt's comment from #119:

so one feature I have in compossible is merging of records

[code]

this becomes a problem when field names overlap

[code]

which is a valid Scala type. Preventing these cases when implementing `++` as a macro isn't really viable, if this use case should be supported:

[code]

because here `++` can't know if T and S have name clashes. We can't statically

[2015-07-14 19:42] gzm0 commented on #104
I think we definitely should not allow multiple fields with the same name (and different types).

IMO merging the record should have one of the following resolution strategies based on the **static** type:

- Take first
- Fail

I actually propose that we make two different methods to do that (and in the scala-records project, the method would also probably have to be external).

This has a couple

[2015-07-14 20:43] cvogt commented on #104
@gzm0
So what "strategy" do you suggest for `println(r.age)`, i.e. member access, "Fail"? What could the api for "Take first" look like?

Why whitebox? Blackbox seems enough to me.

Is disallowing to use `++` on generic records `Record[T]` a reasonable limitation? Seems like a pretty big limitation to me. We would basically disallow generics for merging records.

[2015-07-14 21:44] gzm0 commented on #104
I suggest the strategy to be part of the merge, not of the access.

The apis could be as follows:

[code]

Indeed, Blackbox can be enough, depending on the exact semantics. In terms of the names above, `merge` can be implemented as Blackbox (and potentially fail):

[code]

However (as you pointed out in your post), if we pick the first field, we need to strip a member away, so the macro cannot be

[2015-07-15 05:19] Ciantic commented on #104
What does merge mean? In TypeScript there is type intersection, and it happily intersects even incompatible types (Auto completion of Atom-typescript list in the example pic):

![image](https://cloud.githubusercontent.com/assets/64731/8691316/bad493f2-2ac9-11e5-960e-ec2c848902c3.png)

One just can't use incompatible type merges e.g. `string & number` them in TypeScript, except setting as undefined

[2015-07-15 05:31] gzm0 commented on #104
The difference here, is the we are merging values (and types). So a simple example would be:

[code]

So a merge must have an actual value as a result (or fail, optimally at compile time). On the other hand, an having an ussatisfiable intersection type is fine since any assignment would fail (in Scala, you *can* write `Int with String` if it makes you happy).

[2015-07-15 05:44] Ciantic commented on #104
Yes you are right, though I think I diluted my own point with the TS example. My only point was that there are more than one way to merge, e.g. when it hits incompatible types it wraps the types (and the values) in `Either`.

[2015-07-16 18:08] cvogt commented on #104
@gzm0 alright, let's go with disallowing merges on abstract types. Not sure we get away with it forever but we might and we can always loosen the screws later.

Also, how about instead of having a whitebox `mergeFirst`, we have only a blackbox `merge` and a whitebox "remove field operator". Those two subsume `mergeFirst`. E.g.
[code]
(remove syntax only as an example of course)

[2015-07-16 19:47] gzm0 commented on #104
Yes, that seems reasonable. The nice thing is, we don't even need the remove field as of now, since it can be done with an upcast (of course having appropriate projections is better, but we don't need them immediately).

[2015-07-28 18:55] vjovanov commented on #118
Sorry for the delay, my mailbox does not get empty these days; I wanted to do that long time ago. The arrow syntax also does not work with pattern matching. In this case we should also remove the tuple syntax and also remove both syntaxes in pattern matching. So record creation:
[code]
and extraction:
[code]

Quite elegant I would say.

[2015-07-28 18:56] vjovanov opened #120 "Document Pattern Matching"
The only documentation is in the test cases.

This should be done after we cleanup the syntax in #118

[2015-07-28 18:57] gzm0 commented on #118
Ah.... I remember now: If you want to have patterns on the contents, you need the tuple syntax:

[code]

[2015-07-28 18:59] vjovanov commented on #110
We should undo encoding when we use `Rec(foo = 1)` syntax. We can do this after fixing #118.

[2015-07-28 18:59] gzm0 commented on #118
Actually, that one works. But this one does not:

[code]

[2015-07-28 19:01] gzm0 commented on #110
We cannot undo encoding. After encoding, there is no difference between `$plus` and `+` anymore (for example). But the intended field names are (obviously) different. If `applyDynamicNamed` gives encoded names, this is a blocker for #118.

[2015-07-28 19:02] vjovanov commented on #118
Yes, the arrow also does not work in pattern matching. For values we had `x @ 1` if you need to match the exact value. I would just stay with that and drop all other complexity.

It would be good to keep the library small and to have one way to do things.

[2015-07-28 19:17] cvogt commented on #118
what about @gzm0's example? Could we do `x @ Some(y)`, where x is the record field and y is bound from the value?

I am still not very happy with the fact that x is a constraint on the name, not a binding the way pattern matching is implemented for records. But I don't have a better suggestion either at the moment.

[2015-07-28 19:19] vjovanov commented on #118
This one works as well. I am not happy as well :) But I do not see what can we do...

[2015-07-28 19:23] vjovanov commented on #110
I think this is a bug in Scala. Why doesn't it let the user chose if he wants to encode names or not? We could try to submit a PR and try to fix it in Scala.

[2015-07-28 19:25] cvogt commented on #110
We may have a misunderstanding about what is the encoded and what is the decoded version.
Is `$minus` encoded and `-` decoded?

@gzm0 aren't encode and decode inverse functions? The compiler uses them.

[2015-07-28 19:28] vjovanov commented on #104
I think failing is not a good idea. Clashes happen quite often and it is very ugly when you have to rename fields you really do not care about. It can lead to long lines of useless code.

Why wouldn't we do what SQL does: i) when there is a conflict you can access it by explicitly saying do you want left or right version or, ii) simply use `Either` for all conflicts on the field level. The base re

[2015-07-28 19:30] vjovanov commented on #110
They are not unfortunately. Try your example with `Foo(`$plus` = 1)`.

[2015-07-28 19:31] gzm0 commented on #118
Ah, yes. Indeed. Name binding works in this case. But what still doesn't, is if you have a field with name `1`. You can't use backtick syntax in this case, since it has special meaning in pattern matching.

[2015-07-28 19:33] gzm0 commented on #110
@cvogt Nope. Encoding and decoding is not reversible.
@vjovanov Well... this can be considered a bug in Scala or the intended behavior of `applyDynamicNamed`. In any case, this will unlikely be changed before 2.13 (if even there) due to compatibility concerns. So we are pretty much stuck with it.

[2015-07-28 19:34] gzm0 commented on #118
Btw. we can make the arrow work if we allow and additional import (bascially a `object ->` with an `unapply`).

[2015-07-28 19:37] vjovanov commented on #110
Well guys pick one:
 1) Treat "$plus" as "+". Who would ever name stuff with "$plus" :) For the enthusiasts we can provide some support through extension methods.
 2) Drop the whole feature and back to tuples (this is not our mojo from the very beginning).
 3) Try to do voodoo with source positions (this is our mojo from the very beginning :).

I will think about this for a bit before I choose.

[2015-07-28 19:42] vjovanov commented on #110
I gave it a thought; we can do `1` and provide an alternative constructor with strings `Rec.forEncodedFieldNames(("$plus", 1))`. We already have the code for this.

[2015-07-28 19:52] cvogt commented on #110
To my knowledge `$` is not a valid character in a non-compiler generated identifier. I don't think we need to support that. Not sure the spec is actually explicit about that, but if you use $ multiple things can go wrong, i.e. conflicts with compiler generated methods or objects.

[2015-07-28 19:53] cvogt commented on #110
@gzm0 is encode decode reversible if we exclude `$` from the valid input characters?

[2015-07-28 19:54] gzm0 commented on #110
Hmmm... I would not sign that but can't think of a case where it would break..

[2015-07-28 19:57] vjovanov commented on #118
This is also a blocker for the `@` approach; it is anyhow totally non-intuitive.

So we have serious blockers for all non-string-field-names solutions. How about we use one syntax and stick to it. E.g.,
[code]
or even
[code]
as `->` is extremely annoying to type on QWERTY.

This would work for all and it is not so bad for typing. Records are anyhow mostly created in queries.

[2015-07-28 19:59] vjovanov commented on #110
Sure, however, somebody's database does not really care about Scala conventions.

[2015-07-28 20:02] gzm0 commented on #118
Single back-tick? Was that a glitch? I think we should stick to existing tuple and named apply syntaxes and not introduce anything additional if we don't absolutely have to.

I think the discussion we are having shows that we need strings as a backup, but named apply should be preferred. Also, I actually like the approach we currently have in pattern matching. While it is not strictly aligned with

[2015-07-28 20:04] gzm0 commented on #118
Honestly, I think it is best to close this and stick with the syntax we have. I really don't think any alternative we have found is so much better that it would justify a change...

[2015-07-28 20:16] vjovanov commented on #118
@gzm0 Updated the comment, I wanted to use single apostrophe.

How about we bless the syntax we want as the main one, and leave the strings in appendix for those that hit the issue. If somebody uses tuples/arrows without a good reason (i.e., no decoding needed) we issue a warning in compilation.

[2015-07-28 20:18] vjovanov commented on #118
I would only decode field names by default as `foo-bar` occurs often in databases and `foo$minusbar` never.

[2015-07-28 20:22] gzm0 commented on #118
@vjovanov Yes, I agree decoding field names in named apply is the right way. Also since it is close to the Scala source code.

@vjovanov The symbol syntax, doesn't it also have issues with special characters?

Not a fan (except if there is a way to turn it off). We shouldn't force users to write this:

[code]

[2015-07-28 20:23] gzm0 commented on #118
So I really think we shouldn't change anything in the code, but just document that named apply is the preferred way to construct records...

[2015-07-28 20:26] vjovanov commented on #118
When you put it like this I am not a fan either :)

@cvogt is this OK with you?

[2015-07-28 20:28] vjovanov commented on #118
Can we have the `=>` object imported by default for pattern matching? Also, how about we drop the arrow completely? If we need this feature only for backup why would we provide fancy syntax for the backup?

[2015-07-28 20:33] gzm0 commented on #118
The arrow in creation is just different Scala syntax for the arrow. We don't do anything about it. We currently don't have the `->` object for pattern matching. We could just create it (but the import shouldn't be automatic IMO).

[2015-07-28 20:40] vjovanov commented on #118
We do treat the arrow [specially](https://github.com/scala-records/scala-records/blob/master/core/src/main/scala/records/CommonMacros.scala#L67).
IMO we should just not support it as it makes it easier to use something we really do not want people to use.

[2015-07-28 21:06] gzm0 commented on #118
Ahhhh... I hoped I could sneak this little one past. It is discussable whether we should support it or not indeed. But I think to the average programmer, `(a, b)` and `a -> b` are equally magic syntaxes for tuples (which both are not strictly speaking literals).

By your argument, we should also disallow the `apply` method of `Tuple2` and have people write this:

[code]

[2015-07-28 22:13] vjovanov commented on #118
OK, I buy it. For the string literals we should compatible with the Scala Standard library both for construction and deconstruction. So construction would be
[code]
and deconstruction
[code]

And then we change the documentation. Any further ideas?

[2015-07-28 22:19] gzm0 commented on #118
I think that's good.

[2015-07-28 22:21] cvogt commented on #110
@gzm0
[code]
indeed looks evil. I'd be ok with not supporting $, i.e. explicit compile error. And yes, applyDynamic should probably provide `"$minus-"`

[2015-07-28 22:25] gzm0 commented on #110
Hmmm.. but some occurrences of `$` will work (e.g. `$foo`)... If `$` should be a compile error is discussable... But maybe it is better to be safe than sorry...

[2015-07-28 22:36] vjovanov commented on #110
Restricting all `$` is a bit radical--I am afraid users would have to use tuples too often. Also, I do not see how treating `$minus-` as `--` in record construction can lead to fatal errors that are not detected at compile-time?

[2015-07-28 22:38] gzm0 commented on #110
Well, it shouldn't. But currently it seems we are not consistent about the usage of decoded vs encoded names.

I agree that fully restricting `$` is too radical. Users will get a compile time error in this case and can act upon it.

[2015-07-28 22:52] cvogt commented on #110
I think we should avoid surprising behaviors. "Works some of the time" or "read this list of cases first" is not an easy interface. We should at least make sure that if we don't support cases, that they fail at compile time.

@lrytz I remember from my early LAMP days that `$` was not a valid character for identifiers. But maybe I am making this up. Do you have any insight here?

[2015-07-28 23:00] cvogt commented on #118
fine with me. One suggestion however, how about we change the tests to mainly use the applyDynamicNamed syntax, so that people who use them as a reference use that syntax by default?

[2015-07-28 23:01] vjovanov commented on #118
Good idea, both documentation and tests.

[2015-07-28 23:03] cvogt commented on #118
awesome, thank you for the very healthy discussion!

[2015-07-28 23:04] cvogt commented on #118
updated title and description to cover conclusing

[2015-07-29 06:58] lrytz commented on #110
$ is valid by the spec, but should not be used. there are things in the compiler like (approximately): 'def isAnonymousClass = name.endsWinth("$anon")'. sure, this is brittle already, but there's plenty of assumptions about $

[2015-07-29 08:47] lrytz commented on #110
another point: having a $ in a name makes problems using it in an interpolated string

[2015-07-29 13:45] cvogt commented on #110
Sounds to me like just blocking any usage of $ in a field name would be a good idea. If representing a database table people seem to be better off having a name mapping scheme. We can always relax the restriction later, if new evidence for the need of $ arises. WDYT @gzm0 @vjovanov ?

[2015-07-29 20:11] gzm0 commented on #110
It indeed seems so that this is the best option for now. It is true that it's better if we are restrictive now and relax later than v.v.

[2015-07-29 21:39] cvogt commented on #104
@vjovanov That's a good way to look at it. I am warming up to the idea of Either. What bugs me though is that I think a blackbox macro may be more important than "Either merging behavior" for the majority of people. I think we should definitely have a blackbox merge that is as good as possible and then we can have a different one that does the either variant. WDYT?

I am using ++ as the blackbox m

[2015-07-29 21:41] cvogt commented on #110
So back to the start: without $ can we get rid of the tuple syntax ;)?

[2015-07-29 21:55] gzm0 commented on #110
Ahahahahahaha :)

[2015-07-29 21:55] gzm0 commented on #110
(wrong ticket for discussion, moving over).

[2015-07-29 21:56] cvogt commented on #110
also, just hit a use case, where records need `$`... serializing a record into json to be used as a MongoDB query

[2015-07-29 21:58] gzm0 commented on #118
Even after disallowing `$`, (see #110), we sometimes need the tuple syntax:

- Pattern matching
- Other weird names:

[code]

[2015-07-29 21:58] gzm0 commented on #110
Ahahahahahaha :) So I guess we're good :P

[2015-07-29 22:00] cvogt commented on #118
Pattern matching, because `-backticks have different semantics there and while normally they can be avoided, for Records it may be too much trouble.

[2015-07-29 22:01] cvogt commented on #110
? good how? support $ and tuple syntax? seems like it :-\. Continuing the chain of brokenness...

[2015-07-29 22:03] cvogt commented on #110
interestingly on the just mentioned query use case, the applyDynamicNamed may give a false sense of type-safety

[2015-07-29 22:06] cvogt commented on #118
In this use case using a record as a syntax for a mongodb query:
[code]
using applyDynamicNamed is actually not type-safe. Maybe we should advertise the tuple syntax as preferred for these cases.
[code]

[2015-07-29 22:11] gzm0 commented on #110
I am fine with disallowing `$` in non-tuple syntax to avoid decoding issues (I'd actually encourage it after all this discussion).

[2015-07-29 22:12] cvogt commented on #110
good idea, let's start with that

[2015-07-29 22:13] gzm0 commented on #118
`applyDynamicNamed` is only not typesafe because we do not always agree internally whether a string needs to be decoded or not. But we should definitely test that we can have records that contain a key "-" and a key "$minus" at the same time.

[2015-07-29 22:14] cvogt commented on #118
that too, but in the above use case the fields are never used in scala, records are only used as builders for a serialization format. that's why it is not type-safe.

[2015-07-29 22:18] gzm0 opened #121 "Disallow $ in non-tuple syntax"
See #118 and #110

[2015-07-29 22:19] gzm0 commented on #118
Oh... I don't think that has anything to do with records... `MongoCollection("...").find` is inherently un-typesafe.

[2015-07-29 22:22] cvogt commented on #118
yes, but in this use case you create a type-safe structure only to use it dynamically and ignore all type-safety. Encouraging the tuple construction syntax could help communicate that by convention.

[2015-07-29 22:25] cvogt commented on #121
is that only for applyDynamicNamed-construction? Still allowed in member access I suppose? `someRecord.$eq`

I'd also like to support the blackbox construction syntax:
[code]
I think here we should support it. Also the encoding problems of applyDynamicNamed shouldn't be an issue here.

[2015-07-29 22:26] cvogt opened #122 "blackbox construction syntax"
[code]

[2015-07-29 23:15] gzm0 commented on #118
I think we should leave that up to each individual project... But yes, in general that might make sense

[2015-07-29 23:17] gzm0 commented on #121
Hmmm... it should probably also be disallowed in member access... Otherwise `rec.$eq` will actually query the `=` field, not the `$eq` field...

If you want blackbox construction syntax, there it should be ok, yes.

[2015-07-30 00:04] cvogt commented on #121
mh... I think uh. `$eq` shouldn't query the `=` field, but the `$eq` field. Also it seems reasonable to assume to me, that encode/decode should be each others inverses for strings not containing `$`. In that case applyDynamicNamed should immediately decode and everything else should keep names as they are. Does that work for ```r.`-````?

[2015-07-30 00:08] cvogt commented on #118
I think an authoritative recommendation can be helpful :). But not enforcing it.

[2015-07-30 00:17] gzm0 commented on #121
Oh... yes, it does. Actually the problem really is on Scala's side. I though the dynamic things always give you the encoded identifiers, but that's actually not true.

So yes `$` should be allowed in member access.

[2015-07-30 00:18] gzm0 commented on #121
I'm having the feeling that we are unable to disallow it, since we wont know where it is coming from... We'll see...

[2015-07-30 00:19] cvogt commented on #121
in constructors? the applyDynamicNamed impl can just check, no?

[2015-07-30 00:22] gzm0 commented on #121
No. Because it will see: "$eq"... was it "=" which was translated or was "$eq" written there?

[2015-07-30 00:23] gzm0 commented on #121
FAIL

[2015-07-30 00:23] cvogt commented on #121
argh..

[2015-07-30 00:23] cvogt commented on #121
does this pattern have a name? CLBI? Cross-Library-Bug-Injection?

[2015-07-30 00:24] gzm0 commented on #121
It's called Scala

[2015-07-30 00:29] cvogt commented on #121
**S**uper **c**ross **a**pplication **l**ibrary **a**ttack :(

[2015-07-30 00:45] cvogt commented on #121
alright, if we can't prevent the use of `$` we should document it well, expect it not to be used and ideally open a ticket and ideally PR to fix it in scalac. I would actually classify the current applyDynamicNamed behavior as a bug.

If I am not mistaken the responsible snippet in the compiler is
https://github.com/scala/scala/blob/fe05bc9951f9e89bac59230932e50ec850df6ce4/src/compiler/scala/tools

[2015-08-18 13:13] vjovanov commented on #104
Having both a blackbox and a whitebox version of the operator would be good for the library. Not sure about `Either[Either[,],]` it is pretty inconvenient. Maybe a tuple or an HList would fit nicer into the picture ,or even nested records.

[2015-11-18 09:24] dragos opened #124 "Build fails for benchmarks"
Probably the SNAPSHOT dependency isn't on Maven anymore.

[code]

[2015-11-18 09:30] gzm0 commented on #124
I'm pretty sure that the intention was that you publish local. @vjovanov?

[2015-11-18 10:17] vjovanov commented on #124
You can, as a workaround, drop the `-SNAPSHOT` suffix and it will all work out.

I will remove this module tonight as it should not be in the main repo at all.

[2015-11-18 10:41] dragos commented on #124
Yeah, I can open a PR with my changes. Does travis run the benchmarks?

[2015-11-18 10:46] dragos commented on #124
Hm, it seems that tests don't compile though. Should I open another ticket?

[code]

[2015-11-18 11:36] gzm0 commented on #124
Yep. Definitely. This still uses the old naming scheme...

[2015-11-18 11:36] gzm0 commented on #124
Thanks for following up on this.

[2015-11-18 16:19] dragos opened #125 "Benchmark tests don't compile"
[code]

[2015-12-06 12:55] siriux opened #127 "Support for IntelliJ with the new API"
IntelliJ has added a new API to support macro libraries, and it seems quite simple and powerful.

http://blog.jetbrains.com/scala/2015/10/14/intellij-api-to-build-scala-macros-support/

IntelliJ support is blocking me from using scala-records. Now that supporting IntelliJ is easier, do you think it will be added in the short term?

Thanks in advance

[2015-12-06 19:48] vjovanov commented on #127
This looks very promising; thanks for pointing it out. I will investigate the API and see if it is possible to support records in the maintainable way.

I will provide you with the estimate before Christmas.

[2015-12-06 19:53] siriux commented on #127
Thanks

[2016-09-29 06:12] lmartel opened #129 "Non-applyDynamic-based Rec constructor for use with varargs"
I'd like to be able to manipulate the key-value tuples before creating a Rec rather than passing in literals, but [this compiler bug](https://issues.scala-lang.org/browse/SI-9308) is preventing me from accomplishing this with `Rec(tuples: _*)`.

Is there a way to create a record from a `Seq[(String, Any)]` or a `Map[String, Any]` that I'm missing, or is this use case not supported?

[2016-10-03 08:51] vjovanov commented on #129
Depends, if you have the values for `Seq[(String, Any)]` or a `Map[String, Any]` at compile time it would be possible. However, if you need to do computations on record fields it is impossible to achieve this as the record types that are computed during type checking would only be available at runtime.

The only way to achieve this would be to do all your computations at compile time. Scala record

[2016-10-04 04:09] lmartel commented on #129
That makes sense. Using a macro that calls `Macros.apply_impl` worked well for my use case, since I ended up needing to use `eval` anyway. But it might still be nice to be able to do something like:

[code]

without needing to write a custom macro.

[2016-10-04 09:20] vjovanov commented on #129
Yes, for something like this you would need  [`inline`](http://docs.scala-lang.org/sips/pending/inline-meta.html) which is proposed as a SIP.

[2016-10-04 09:20] #129 closed